hostname {{ device.name }}
!
{# ssh settings and allowed networks -#}
{% include 'config-templates/asa/common/ssh.j2' -%}
!
{# static routes pulling data from local device contexts -#}
{% include 'config-templates/asa/common/route.j2' -%}
!